.App {
  text-align: center;
}

.formCentral{
  width: 400px;
  height: auto;
  border: 1px solid black;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}

.outputCentral{
  width: 400px;
  height: auto;
  border: 1px solid black;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}
